:root {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  --color-forground: #333;
  --border-color: #0004;
}

* {
  box-sizing: border-box;
  color: var(--color-forground);
}

body {
  margin: 0;
  padding: 0;
}

textarea, input {
  font: inherit;
}

.onclick,
[onclick]:hover {
  cursor: pointer;
}

input,
textarea {
  border: 1px solid var(--border-color);
  border-radius: 0.5em;
  padding: 0.5em 0.75em;
}

.btn,
button {
  background: var(--color-forground);
  color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
  text-decoration: none;
}

a.small {
  font-size: smaller;
  text-decoration: none;
  color: #000A;
}

/*main {*/
/*  position: absolute;*/
/*  min-height: 100vh;*/
/*  min-width: 100vw;*/
/*  background-color: #f47230;*/
/*  color: #fff;*/
/*}*/
